# Build outputs
bin/
obj/

# User-specific
*.user
*.userosscache
*.suo
*.psess
*.vsp
*.vspscc

# Logs / DB
*.log
*.db

# Tooling
.vs/
.idea/

# EF migrations cache
Migrations/*.Designer.cs
Migrations/*Snapshot.cs

